<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <a href="./tmp/_site/artists/index.html">link</a> - <%= Artist.count %>

    <a href="./tmp/_site/songs/index.html">link</a> - <%= Song.count %>

    <a href="./tmp/_site/genres/index.html">link</a> - <%= Genre.count %>

  </body>
</html>